on:
  push:
    branches:
      - main
    paths:
      - 'service.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'service.yml'

jobs:
#############################################################################

  devops_open_pr:
    runs-on: ubuntu-latest
    env:
      FILE: service.yml
    name: A POC WF
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            files:
              - '${{ env.FILE }}'

      - name: Print the object
        if: steps.changes.outputs.files == 'true'
        id: print
        uses: saar-win/personal-projects/new_action@v2
        with:
          FILE: ${{ env.FILE }}
          ACTIONS_ACCESS_USERNAME: ${{ secrets.ACTIONS_ACCESS_USERNAME }}
          ACTIONS_ACCESS_KEY: ${{ secrets.ACTIONS_ACCESS_KEY }}
