env:
  FILE: service.yml
on:
  push:
    branches:
      - main
    paths:
      - ${{ github.workspace }}
  pull_request:
    branches:
      - main
    paths:
      - ${{ github.workspace }}
jobs:
#############################################################################

  devops_open_pr:
    runs-on: ubuntu-latest
    name: A POC WF
    steps:
      - uses: actions/checkout@v2
      - name: Print the object
        id: print
        uses: saar-win/personal-projects/new_action@v2
        with:
          FILE: ${{ env.FILE }}
          ACTIONS_ACCESS_USERNAME: ${{ secrets.ACTIONS_ACCESS_USERNAME }}
          ACTIONS_ACCESS_KEY: ${{ secrets.ACTIONS_ACCESS_KEY }}