on:
########################
  push:
    branches: [ main ]
    paths: [ service.yml ]
########################
  pull_request:
    branches: [ main ]
    paths: [ service.yml ]
########################
  workflow_dispatch:
    inputs:
      service_name:
        description: 'The name of the service you want to generate'
        required: true
        type: string
########################
jobs:
#############################################################################################
  devops_open_pr:
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: ${{ github.event.client_payload.service_name }}
    name: A POC WF
    steps:
      - uses: actions/checkout@v2
      - name: Print the object
        id: print
        uses: saar-win/personal-projects/new_action@v2
        with:
          FILE: ${{ github.workspace }}/${{ env.FILE }}
          ACTIONS_ACCESS_USERNAME: ${{ secrets.ACTIONS_ACCESS_USERNAME }}
          ACTIONS_ACCESS_KEY: ${{ secrets.ACTIONS_ACCESS_KEY }}
#############################################################################################